@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body {
    background-image: url();
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
}
p {
    font-family: 'Josefin Sans', sans-serif;
}